{:source-paths
 ["src/dev"
  "src/main"
  "src/test"]

 :dev-http {8080 "public"}
 :dependencies
 [[de.active-group/reacl-c "0.11.3"]
  [de.active-group/reacl-c-basics "0.11.2"]]

 :builds
 {:frontend
  {:target :browser
   :modules {:main {:init-fn main/init}}
   }}}
